<!DOCTYPE html>
<html lang="bg">

<head>
    <title>Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">

    <!---------- favicon ------------>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#f2f2f2">
    <!---------- -------- ------------>
    <title>Post</title>

</head>
<script src="{{url_for('static', filename='comments.js')}}"></script>
<h1>{{ post.name }}</h1>
<h2>{{ post.author }}</h2>

<hr>
<p>
{{ post.content }}
</p>

<a href="/posts/{{ post.post_id }}/edit">Edit post</a><br/><br/>
<form action="/posts/{{ post.post_id }}/delete" method="post">
  <button type="submit">Delete post</button>
</form>
</html>
